<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/cloud/jquery-1.11.1.min.js"></script><!--jquery-1.11.1.min.js-->
<script type="text/javascript" src="static/js/cloud/instance.js"></script>
</head>

<body>
<div class="place">
    <span>创建虚拟机</span>
</div>
<div class="formtitle"><span>基本信息</span></div>
<table style="width: 80%">
<tr style="width: 100%">
    <td>
        <div class="formbody">
            <ul class="forminfo">
                <li>
                    <p>可用域</p>
                    <select class= "dfinput">
                        <option value ="1">nova</option>
                    </select>
                </li>
            </ul>
        </div>
    </td>
    <td  rowspan="5" width="50%">
        <p class="linesp" style="margin-bottom: 10px">详细说明启动云主机的情况,下面的图表显示此项目所使用的资源和关联的项目配额。</p>
        <p class="fontstyles2" style="margin-bottom: 10px">方案详情</p>
        <table class="lines">
            <tr bgcolor="#EDF6FA">
                <td>名称</td>
                <td>m.tiny</td>
            </tr>
            <tr>
                <td>虚拟内核</td>
                <td>1</td>
            </tr>
            <tr bgcolor="#EDF6FA">
                <td>根磁盘</td>
                <td>1 GB</td>
            </tr>
            <tr>
                <td>临时磁盘</td>
                <td>0 GB</td>
            </tr>
            <tr bgcolor="#EDF6FA">
                <td>磁盘总计</td>
                <td>1 GB</td>
            </tr>
            <tr>
                <td>内存</td>
                <td>512 MB</td>
            </tr>
        </table>
    </td>
</tr>
<tr style="width: 100%">
    <td>
        <li>
            <div class="formbody">
                <ul class="forminfo">
                    <li>
                        <p>云主机名称</p>
                            <input id="instance_name" type="text" class="dfinput" />
                    </li>
                </ul>
            </div>
        </li>
    </td>
</tr>
<tr style="width: 100%">
    <td>
        <div class="formbody">
            <ul class="forminfo">
                <li>
                    <p>云主机类型</p>
                    <select class= "dfinput" id="instance_type">
                        <option value ="tiny">m.tiny</option>
                        <option value ="small">m.small</option>
                        <option value ="medium">m.medium</option>
                        <option value ="large">m.large</option>
                        <option value ="xlarge">m.xlarge</option>
                    </select>
                </li>
            </ul>
        </div>
    </td>
</tr>
<tr style="width: 100%">
     <td>
         <li>
             <div class="formbody">
                 <ul class="forminfo">
                     <li>
                         <p>云主机数量</p>
                            <input name="" type="text" class="dfinput" />
                     </li>
                 </ul>
             </div>
         </li>
    </td>
    </tr>
<tr style="width: 100%">
    <td>
        <div class="formbody">
            <ul class="forminfo">
                <li>
                    <p>云主机启动源</p>
                    <select class= "dfinput">
                        <option value ="1">从镜像启动</option>
                        <option value ="1">从快照启动</option>
                        <option value ="1">从云硬盘启动</option>
                        <option value ="1">从镜像启动（新建卷）</option>
                        <option value ="1">从云硬盘快照启动（新建卷）</option>
                    </select>
                </li>
            </ul>
        </div>
    </td>
</tr>
<tr style="width: 100%">
    <td>
        <div class="formbody">
            <ul class="forminfo">
                <li>
                    <input type="button" class="btn"  id="id_create_instance"  value="添加虚拟机"/>
                    <button type="submit" class="btn" id="id_create" value="UDP">create</button>
                </li>
            </ul>
        </div>
    </td>
</tr>

</table>
</body>
</html>
