<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/jquery.js"></script>

</head>


<body>

	<div class="place">
    <span>位置：</span>
    </ul>
    </div>
    
    <div class="mainindex">


    <div class="welinfo">
    <span><img src="static/images/sun.png" alt="天气" /></span>
    <b>Admin早上好，欢迎使用openstack平台管理系统</b>(admin@uimaker.com)
    <a href="#">帐号管理</a>
    <a href="/action/logoutAction/">logout</a>
    </div>

    <div class="welinfo">
    <span><img src="static/images/time.png" alt="时间" /></span>
    <i>您上次登录的时间：2015-11-14 15:22</i>
    </div>

    <div class="xline"></div>

    <ul class="iconlist">

    <li><img src="static/images/ico01.png" /><p><a href="index.html">系统主页</a></p></li>
    <li><img src="static/images/ico02.png" /><p><a href="#">文档查询</a></p></li>
    <li><img src="static/images/ico03.png" /><p><a href="#">资源统计</a></p></li>
    <li><img src="static/images/ico04.png" /><p><a href="#">存储管理</a></p></li>
    <li><img src="static/images/ico05.png" /><p><a href="#">云资源</a></p></li>

    </ul>

    <div class="ibox"><a class="ibtn"><img src="static/images/iadd.png" />添加新的快捷功能</a></div>

    <div class="xline"></div>
    <div class="box"></div>

    <div class="welinfo">
    <span><img src="static/images/dp.png" alt="提醒" /></span>
    <b>openstack模块</b>
    </div>

    <ul class="infolist">
    <li><span>操作网络拓扑</span><a class="ibtn">网络资源</a></li>
    <li><span>操作计算资源</span><a class="ibtn">计算资源</a></li>
    <li><span>快速部署资源</span><a class="ibtn">stack管理</a></li>
    </ul>

    <div class="xline"></div>

    <div class="uimakerinfo"><b>openstack官方文档入口</b>(<a href="http://www.5imoban.net" target="_blank">doc</a>)</div>

    
    </div>
</body>
</html>
