<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>虚拟机实例</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script src="static/js/cloud/instanceDetailAction.js" type="text/javascript"></script>
</head>

<body>
<div class="place">
    <span>虚拟机</span>
</div>
<div class="tools" style="margin-top: 15px">

    <ul class="toolbar">
        <li class="click"><span><img src="static/images/t01.png" /></span><a href="/form/">创建虚拟机</a></li>
        <li class="click"><span><img src="static/images/t02.png" /></span>修改虚拟机</li>
        <li><span><img src="static/images/t03.png" /></span>删除虚拟机</li>
    </ul>

</div>
<p style="font-size: 25px;
   font-family: '宋体';
font-weight: bold;
margin-bottom: 25px;
margin-top:25px" >实例</p>


<table class="lines2" id="details_list">
    <tr style="width: 100%" bgcolor="#F7F7F7">
        
        
        <td><input type="checkbox"></td>
        <td style="display:none">instance_id</td>
        <td>所属云</td>
        <td>云主机名称</td>
        <td>镜像名称</td>
        <td>IP地址</td>
        <td>配置</td>
        <td>状态</td>
        <td>可用域</td>
        <td>电源状态</td>
        <td>创建时间</td>
        
        <td>修改</td>

    </tr>
     <tr style="width: 100%">
        
        <td><input type="checkbox"></td>
        <td style="display:none">instance id</td>
        <td>cloud1</td>
        <td>test</td>
        <td>cirros</td>
        <td>10.10.10.10</td>
        <td>m1.tiny</td>
        <td>actived</td>
        <td>demo</td>
        <td>power</td>
        <td>2015-12-24</td>
        
        <td>
            <select class= "dfinput2" onchange="instanceAction(this)" >
                <option value ="floatingip">Associate Floating IP</option>
                <option value ="start">Start</option>
                <option value ="stop">Stop</option>
                <option value ="terminate">Terminate</option>
            </select>
        </td>

    </tr>  

</table>
</body>
</html>
