<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="place">
    <span>虚拟机</span>
</div>
<div class="tools" style="margin-top: 15px">

    <ul class="toolbar">
        <li class="click"><span><img src="static/images/t01.png" /></span><a href="/form/">创建虚拟机</a></li>
        <li class="click"><span><img src="static/images/t02.png" /></span>修改虚拟机</li>
        <li><span><img src="static/images/t03.png" /></span>删除虚拟机</li>
    </ul>

</div>
<p style="font-size: 25px;
   font-family: '宋体';
font-weight: bold;
margin-bottom: 25px;
margin-top:25px" >实例</p>


<table class="lines2">
    <tr style="width: 100%" bgcolor="#F7F7F7">
        <td><input type="checkbox"></td>
        <td>云主机名称</td>
        <td>镜像名称</td>
        <td>IP地址</td>
        <td>配置</td>
        <td>状态</td>
        <td>可用域</td>
        <td>电源状态</td>
        <td>创建时间</td>
        <td>修改</td>

    </tr>
    <tr style="width: 100%" bgcolor="#FCFCFC">
        <td><input type="checkbox"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr style="width: 100%" bgcolor="#FCFCFC">
        <td><input type="checkbox"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr style="width: 100%" bgcolor="#FCFCFC">
        <td colspan="12"></td>
    </tr>

</table>
</body>
</html>
